body {
  background-color: #282c34 !important;
  color: white !important;
  font-family: "Roboto", sans-serif !important;
}

.w-fit {
  width: fit-content !important;
}

.cursorPointer {
  cursor: pointer !important;
}

:disabled {
cursor: not-allowed !important;
}


* {
  scrollbar-width: auto;
  scrollbar-color: #15181d;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #343a41;
}

*::-webkit-scrollbar-thumb {
  background-color: #15181d;
  border-radius: 10px;
}
