body {
  background-color: #282c34 !important;
  color: white !important;
  font-family: "Roboto", sans-serif !important;
}

.w-fit {
  width: fit-content !important;
}

.cursorPointer {
  cursor: pointer !important;
}
